@font-face {
  font-family: benne;
  src: url(fonts/benne/Benne-Regular.ttf);
}

@font-face {
  font-family: brygada;
  src: url(fonts/brygada-1918/Brygada1918-VariableFont_wght.ttf);
}

@font-face {
  font-family: quicksand;
  src: url(fonts/quicksand/Quicksand-VariableFont_wght.ttf);
}
